<div class="crumbs">
  <a href="/">API</a>
  &gt; <a href="docs">Documentation</a>
</div>
<h2>Documentation</h2>
<p>
  The following schemas are supported by this API.
</p>
<ul style="list-style-type: square;">
<% schemas.forEach(function(schema) { %>
  <li><a href="/docs/<%= schema %>"><%= schema %></a></li>
<% }) %>
</ul>