<h1 style="margin-top: 0;"><%= siteName %></h1>


<div class="section mdl-color--white mdl-color-text--grey-700 mdl-shadow--4dp">
  <h4>API Documentation</h4>
  <p>
    The following schemas are supported by this API.
  </p>
  <ul style="list-style-type: square;">
  <% schemas.forEach(function(schema) { %>
    <li><a href="docs/<%= schema %>"><%= schema %></a></li>
  <% }) %>
  </ul>
</div>

<div class="section mdl-color--white mdl-color-text--grey-700 mdl-shadow--4dp">
  <h4>Retrieve all available schemas</h4>
  <p>Returns a JSON object with an array of schema names.</p>
  <pre class="mdl-color--grey-900 mdl-color-text--grey-100 mdl-shadow--4dp">HTTP GET /schemas</pre>
  <h5 class="mdl-color-text--grey-600">Example</h5>
  <pre class="mdl-color--grey-800 mdl-color-text--grey-100 mdl-shadow--4dp">curl <%= baseUri %>/schemas</pre>
</div>

<p>See the README file for futher details, configuration options and how to generate API keys.</p>

<p>
  <a href="https://github.com/glitchdigital/structured-data-api"><strong>Structured Data API</strong></a> platform from <a href="http://glitch.digital"><strong>glitch.digital</strong></a>
</p>