<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="">
    <title><%= siteName %></title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="//code.getmdl.io/1.1.3/material.indigo-blue.min.css" /> 
    <script defer src="//code.getmdl.io/1.1.3/material.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
      body,
      body p,
      body li {
        font-size: 16px;
      }
      
      .main {
        flex-shrink: 0;
      }

      .header .mdl-layout__header-row {
        padding-left: 40px;
        text-decoration: none;
      }
      
      .crumbs,
      .crumbs a {
        text-decoration: none;
        color: #888;
      }

      .container {
        max-width: 1600px;
        width: calc(100% - 16px);
        margin: 0 auto;
      }

      .content {
        border-radius: 2px;
        padding: 20px 40px;
        margin-bottom: 80px;
      }

      .layout.is-small-screen .content {
        padding: 40px 28px;
      }
      
      .footer {
        padding-left: 40px;
      }
      
      pre {
        padding: 10px;
      }
      
      .json-markup {
        line-height: 17px;
        font-family: monospace;
        white-space: pre;
      }
      
      .json-markup-key {
        font-weight: bold;
        color: #555;
      }
      
      .json-markup-bool {
        color: orange;
      }
      
      .json-markup-string {
        color: green;
      }
      
      .json-markup-null {
        color: gray;
      }
      
      .json-markup-number {
        color: blue;
      }
      
      .material-icons { 
        margin-right: 10px;
      }
      
      .section {
        padding: 10px;
        margin-bottom: 30px;
      }
      
      .section h4 {
        margin-top: 0;
      }
    </style>
  </head>
  <body>
   <div class="layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="header mdl-layout__header mdl-layout__header--scroll mdl-color--white">
        <a href="/" class="mdl-layout__header-row mdl-color-text--grey-800" style="float: left;">
          <i class="material-icons">share</i> <span class="mdl-layout-title" style="font-weight: 500;"><%= siteName %></span>
        </a>
      </header>
      <main class="main mdl-layout__content">
        <div class="container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="content content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <%- body %>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>